.register__container {
    display: block;
}

.register__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
}

.register__header {
    display: flex;
    width: 396px;
}

.register__logo {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.register__logo:hover {
    transform: scale(1.2);
    opacity: .6;
}

.register__logo:active {
    transform: scale(0.8);
}

.register__title {
    width: 396px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
}

.register__form {
    width: 396px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.register__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin-bottom: 5px;
}

.register__input {
    background: none;
    border: none;
    border-bottom: 1px solid #424242;
    padding: 0 0 10px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF;
}

.register__input:focus {
 outline: 0;
}

.register__input:last-of-type {
    margin-bottom: 0;
}

.register__input-error {
    width: 100%;
    display: block;
    height: 24px;
    padding: 0;
    margin: 6px 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    overflow: hidden;
    color: #EE3465;
}

.register__bottom {
    width: 100%;
}

.register__button {
    width: 396px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 0 15px;
    margin: 69px 0 16px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.register__button:active {
    transform: scale(0.9);
    opacity: .6;
}


.register__link-text {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
}

.register__link {
    color: #4285F4;
    margin-left: 6px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 568px) {
    .register__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .register__wrapper {
        gap: 50px;
    }

    .register__header {
        width: 100%;
        justify-content: center;
    }

    .register__title {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .register__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 65px;
    }

    .register__button {
        width: 100%;
        font-size: 12px;
        line-height: 15px;
        padding: 15px;
        margin-bottom: 14px;
    }

    .register__link-text {
        font-size: 12px;
        line-height: 15px;
    }
}
